/* font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif; */

body {
    background-color: rgb(247, 238, 228);   
    
}
section {
    position: relative;
    background-color: rgba(141, 127, 108, 0.815);
    width: 500px;
    margin: auto;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(110, 62, 28, 0.801);
    user-select: none;
}
header h1 {
    font-family: 'Merriweather', serif;
    font-size: calc(12px + 1.9vw);
    color:rgba(243, 177, 129, 0.925);
    text-align: center;
}
header h1::after {
    content: url(./img/shopping-cart-icon-red.png);
}
header p {
    font-family: 'Merriweather', serif;
    font-size: calc(10px + 1.3vw);
    color:rgba(243, 177, 129, 0.925);
    text-align: center;
}
section h1 {
    font-family: 'Poppins', sans-serif;
    font-size: calc(10px + 1.1vw);
    color:rgba(248, 170, 114, 0.911);
    text-align: center;
}
section p#welcome {
    font-family: 'Poppins', sans-serif;
    font-size: calc(7px + 1vw);
    font-weight: bolder;
    color:rgba(248, 170, 114, 0.911);
    text-align: center;

}
footer p {
    font-family: 'Merriweather', serif;
    font-size: calc(8px + 1vw);
    font-weight: bolder;
    color:rgba(243, 177, 129, 0.925);
    text-align: center;

}
div.principal p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color:rgb(233, 198, 83);
}
input#product {
    background-color: rgb(247, 238, 228);    
    color: sienna;
    font-family: 'Poppins', sans-serif;
}
input#price {
    background-color: rgb(247, 238, 228);    
    color: sienna;
    font-family: 'Poppins', sans-serif;
    margin-left: 19px;
    width: 20%;
}
input#perc {
    background-color: rgb(247, 238, 228);    
    color: sienna;
    font-family: 'Poppins', sans-serif;
    margin-left: 2.2px;
    width: 10%;
}
input.botao {
    background-color: sienna;
    color:  rgb(247, 238, 228);   
    display: inline-flex;
    justify-content: center;
    width: 14%;
    height: 18%;
    padding: 4px;
    margin-left: 10px;
    border: 2.2px solid rgb(247, 238, 228); 
    cursor: pointer;    
}
input.botao:hover {
    background-color: rgb(247, 238, 228);
    color: saddlebrown;
    border: 2.2px solid saddlebrown;
}